body {
    background-color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2, h3 {
    color: #8c3930;
}


p {
    color: #black;
}

ul li{

width: 300px;
border: 2px solid #8c3930;
padding: 10px;
margin-bottom: 5px;
list-style-type: none;

}

div {
    padding: 15px;
    border: 2px solid #8c3930;
    margin-bottom: 20px;
    border-radius: 5px;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background-color: #8c3930;
}
